<!-- start min top nav -->
<app-nav-bar (toggle)="isOpen = !isOpen"></app-nav-bar>
<!-- end min top nav -->

<!-- start side bar -->
<app-sidebar [isOpen] = "isOpen" [items] = "sidebarItems"></app-sidebar>
<!-- end sidebar -->

<!-- start main -->
<main [ngClass]="{'md:ml-64 md:w-[calc(100%-256px)]': isOpen, 'md:ml-0': !isOpen}" class="bg-gray-100 duration-500 w-full h-lvh pt-16 overflow-y-scroll">

    <!-- start reclamations-crud -->
    <section class="bg-white p-4 h-full">
        <div class="flex items-center justify-start gap-4 p-4 mt-3 mb-3">
            <i class="pi pi-flag text-gray-500 shadow-lg border border-solid border-black rounded-lg text-3xl p-2 "></i>
            <h2 class="mb-2 text-3xl">Reclamations</h2>
        </div>
        <div class="rounded-xl p-4 mt-4">
            <div class="relative overflow-x-auto mt-4 rounded-lg">
                <div class="flex items-center justify-between mb-4">
                    <select [(ngModel)]="etat" (ngModelChange)="getReclamations()" class="block p-2.5 text-sm border-gray-300 border rounded-lg focus:ring-blue-500 focus:border-blue-500" type="text">
                        <option value="" selected>Etat </option>
                        <option value="Traitée">Traitée</option>
                        <option value="Annulée">Annulée</option>
                        <option value="En cours">En cours</option>
                    </select>
                    <input [(ngModel)]="query" (ngModelChange)="getReclamations()" type="search" class="block w-1/3 p-2.5 text-sm border-gray-300 border rounded-lg focus:ring-blue-500 focus:border-blue-500" placeholder="recherch">
                </div>
                <table class="w-full text-sm text-left rtl:text-right text-black shadow-lg">
                    <thead class="text-xs uppercase bg-gray-200">
                        <tr>
                            <th scope="col" class="px-6 py-3">objet</th>
                            <th scope="col" class="px-6 py-3">etudiant</th>
                            <th scope="col" class="px-6 py-3">statut</th>
                            <th scope="col" class="px-6 py-3">action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let reclamation of reclamations | paginate: { itemsPerPage: 5, currentPage: page, totalItems: totalLength }" class="bg-white border-b">
                            <td class="px-6 py-4">{{reclamation.objet}}</td>
                            <td class="px-6 py-4">{{reclamation.etudiant.utilisateur.nom + ' ' + reclamation.etudiant.utilisateur.prenom}}</td>
                            <td class="px-6 py-4">
                                @if(reclamation.etat == 'Traitée'){
                                    <p-tag [value]="reclamation.etat" severity="success" />
                                }@else if(reclamation.etat == 'Annulée'){
                                    <p-tag [value]="reclamation.etat" severity="danger"/>
                                }@else{
                                    <p-tag [value]="reclamation.etat" />
                                }
                            </td>
                            <td class="px-6 py-4">
                                <p-button (click)="cancel(reclamation.idReclamation)" icon="pi pi-trash" [raised]="true" [rounded]="true"  severity="danger" size="small" title="Annuler"></p-button>
                            </td>
                        </tr>


                    </tbody>
                </table>
                <!-- start pagination -->
                <div class="pagination text-center mt-4">
                    <pagination-controls
                        (pageChange)="page = $event"
                        previousLabel="précédent"
                        nextLabel="suivant">
                    </pagination-controls>
                </div>
                <!-- end pagination -->
            </div>
        </div>
    </section>
    <!-- end account-creation-form -->

    <!-- delete confirmation modal -->
    <p-toast></p-toast>
    <p-confirmDialog #cd>
        <ng-template pTemplate="headless" let-message>
            <div class="flex flex-col gap-4 items-center p-5  rounded-lg bg-white">
                <div class="rounded-full bg-red-600 inline-flex justify-center items-center h-24 w-24">
                    <i class="pi pi-question text-5xl text-white"></i>
                </div>

                <span class="font-bold text-2xl block mb-2 mt-4">
                    {{ message.header }}
                </span>

                <p class="mb-0">{{ message.message }}</p>

                <div class=" w-full flex items-center gap-2 mt-4">
                    <button
                        pButton
                        label="supprimer"
                        (click)="cd.accept()"
                        size="small"
                        [outlined]="true"
                        severity="danger"
                        class="w-32">
                    </button>
                    <button
                        pButton
                        label="Annuler"
                        (click)="cd.reject()"
                        size="small"
                        class="w-32 ">
                    </button>
                </div>
            </div>
        </ng-template>
    </p-confirmDialog>
</main>
<!-- end main -->
